---

import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import HeadOnlyLogo from '../components/HeadOnlyLogo.astro'
import PersonalizedDesign from '../assets/svg/personalized_design.svg'
---

<Layout title="Digitalcerti">
  <HeadOnlyLogo />
  <div class="mt-10">
    <h1 class=" text-4xl font-semibold text-center mt-4 text-slate-800">Beneficios</h1>
    <p class="text-center text-slate-700">Tu mejor opción, fácil uso, seguridad y transparencia.</p>
  </div>
  <div class="px-4 lg:max-w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]">
    <div class="grid grid-cols-6">
      <div class=" col-span-2 flex items-center justify-center flex-col">
        <svg class="fill-slate-800 w-24" width="130" height="125" viewBox="0 0 130 125" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M129 0H1C0.447754 0 0 0.447754 0 1V21.7344V123.322C0 123.875 0.447754 124.322 1 124.322H129C129.552 124.322 130 123.875 130 123.322V21.7344V1C130 0.447754 129.552 0 129 0ZM2 2H128V20.7344H2V2ZM128 122.322H2V22.7344H128V122.322Z" fill="black"/>
          <path d="M118.834 6.53906C116.375 6.53906 114.374 8.61865 114.374 11.1748C114.374 13.7314 116.375 15.811 118.834 15.811C121.293 15.811 123.294 13.7314 123.294 11.1748C123.294 8.61865 121.293 6.53906 118.834 6.53906ZM118.834 13.811C117.477 13.811 116.374 12.6284 116.374 11.1748C116.374 9.72168 117.477 8.53906 118.834 8.53906C120.191 8.53906 121.294 9.72168 121.294 11.1748C121.294 12.6284 120.191 13.811 118.834 13.811Z" fill="black"/>
          <path d="M104.663 6.53906C102.203 6.53906 100.202 8.61865 100.202 11.1748C100.202 13.7314 102.203 15.811 104.663 15.811C107.122 15.811 109.123 13.7314 109.123 11.1748C109.123 8.61865 107.122 6.53906 104.663 6.53906ZM104.663 13.811C103.306 13.811 102.202 12.6284 102.202 11.1748C102.202 9.72168 103.306 8.53906 104.663 8.53906C106.02 8.53906 107.123 9.72168 107.123 11.1748C107.123 12.6284 106.02 13.811 104.663 13.811Z" fill="black"/>
          <path d="M90.4912 6.53906C88.0317 6.53906 86.0308 8.61865 86.0308 11.1748C86.0308 13.7314 88.0317 15.811 90.4912 15.811C92.9507 15.811 94.9517 13.7314 94.9517 11.1748C94.9517 8.61865 92.9507 6.53906 90.4912 6.53906ZM90.4912 13.811C89.1343 13.811 88.0308 12.6284 88.0308 11.1748C88.0308 9.72168 89.1343 8.53906 90.4912 8.53906C91.8481 8.53906 92.9517 9.72168 92.9517 11.1748C92.9517 12.6284 91.8481 13.811 90.4912 13.811Z" fill="black"/>
          <path d="M78.2607 10.1748H9.53076C8.97852 10.1748 8.53076 10.6226 8.53076 11.1748C8.53076 11.7271 8.97852 12.1748 9.53076 12.1748H78.2607C78.813 12.1748 79.2607 11.7271 79.2607 11.1748C79.2607 10.6226 78.813 10.1748 78.2607 10.1748Z" fill="black"/>
          <path d="M6.72754 41.4142H43.4198C44.5131 49.0509 55.1294 49.0592 56.2242 41.4142H60.9932C62.3154 41.4142 62.3171 39.4142 60.9932 39.4142H56.2242C55.131 31.7768 44.5143 31.7681 43.4198 39.4142H6.72754C6.17529 39.4142 5.72754 39.8619 5.72754 40.4142C5.72754 40.9664 6.17529 41.4142 6.72754 41.4142ZM49.8218 35.6544C52.293 35.6544 54.3032 37.7896 54.3032 40.4142C54.3032 43.0387 52.293 45.1734 49.8218 45.1734C47.3511 45.1734 45.3408 43.0387 45.3408 40.4142C45.3408 37.7896 47.3511 35.6544 49.8218 35.6544Z" fill="black"/>
          <path d="M6.72754 59.6832H30.2645C31.3578 67.32 41.9742 67.3283 43.069 59.6832H60.9932C62.3154 59.6832 62.3171 57.6832 60.9932 57.6832H43.069C41.9757 50.0458 31.359 50.0371 30.2645 57.6832H6.72754C6.17529 57.6832 5.72754 58.131 5.72754 58.6832C5.72754 59.2354 6.17529 59.6832 6.72754 59.6832ZM36.6665 53.9234C39.1377 53.9234 41.1479 56.0587 41.1479 58.6832C41.1479 61.3077 39.1377 63.4425 36.6665 63.4425C34.1958 63.4425 32.1855 61.3077 32.1855 58.6832C32.1855 56.0587 34.1958 53.9234 36.6665 53.9234Z" fill="black"/>
          <path d="M6.72754 77.9634H12.724C13.8173 85.6006 24.4344 85.6093 25.5289 77.9634H60.9932C62.3154 77.9634 62.3171 75.9634 60.9932 75.9634H25.5289C24.4353 68.3265 13.8188 68.3183 12.724 75.9634H6.72754C6.17529 75.9634 5.72754 76.4111 5.72754 76.9634C5.72754 77.5156 6.17529 77.9634 6.72754 77.9634ZM19.1265 72.2041C21.5977 72.2041 23.6079 74.3389 23.6079 76.9634C23.6079 79.5879 21.5977 81.7232 19.1265 81.7232C16.6553 81.7232 14.645 79.5879 14.645 76.9634C14.645 74.3389 16.6553 72.2041 19.1265 72.2041Z" fill="black"/>
          <path d="M25.8793 96.2441C26.9729 103.881 37.5894 103.889 38.6842 96.2441H60.9932C62.3154 96.2441 62.3171 94.2441 60.9932 94.2441H38.6842C37.5909 86.6069 26.9738 86.5982 25.8793 94.2441C7.8098 94.6456 5.72754 93.3647 5.72754 95.2441C5.72754 97.1556 8.06819 95.8484 25.8793 96.2441ZM32.2817 90.4843C34.7529 90.4843 36.7632 92.6196 36.7632 95.2441C36.7632 97.8686 34.7529 100.003 32.2817 100.003C29.8105 100.003 27.8003 97.8686 27.8003 95.2441C27.8003 92.6196 29.8105 90.4843 32.2817 90.4843Z" fill="black"/>
          <path d="M102.763 64.5874V104.673C102.763 106.446 103.424 108.116 104.681 109.435C105.89 110.704 107.5 111.402 109.214 111.402C109.215 111.402 109.216 111.402 109.217 111.402C110.932 111.401 112.542 110.702 113.804 109.375C115.001 108.117 115.66 106.449 115.66 104.678V64.5947C120.91 61.988 124.272 56.4726 124.272 50.3423C124.272 43.9853 120.658 38.2793 115.064 35.8061C114.756 35.6699 114.398 35.6982 114.114 35.8828C113.831 36.0674 113.66 36.3823 113.66 36.7207V48.2666C111.949 50.0703 110.831 51.2461 109.213 52.9414L104.763 48.2656V36.7207C104.763 36.3823 104.592 36.0669 104.309 35.8828C104.026 35.6982 103.667 35.6704 103.358 35.8061C97.7651 38.2832 94.1514 43.9888 94.1514 50.3423C94.1514 56.4682 97.5135 61.9801 102.763 64.5874ZM113.66 104.678C113.66 105.915 113.185 107.125 112.302 108.052C111.475 108.922 110.378 109.402 109.216 109.402C109.215 109.402 109.215 109.402 109.214 109.402C108.052 109.402 106.956 108.924 106.071 107.995C105.24 107.123 104.763 105.912 104.763 104.673V65.415C104.926 65.4178 108.843 66.9749 113.66 65.4214V104.678ZM102.763 38.3628V48.6655C102.763 48.9223 102.862 49.1689 103.039 49.355C107.903 54.3323 108.868 56.201 109.935 55.081C115.79 48.9501 115.66 49.2176 115.66 48.6655V38.3618C129.175 46.4394 120.344 69.1757 104.166 63.0484C99.2972 60.8946 96.1514 55.9075 96.1514 50.3423C96.1514 45.3345 98.7017 40.7925 102.763 38.3628Z" fill="black"/>
          <path d="M71.6192 75.8535C72.1881 103.551 70.2496 106.298 73.5138 109.406C75.6481 111.878 79.9279 112.263 82.6656 109.373C85.8879 105.952 83.9436 103.953 84.5162 75.8535C87.5621 68.4914 88.7919 69.9845 79.0724 69.7554V50.0508C85.0683 49.8549 83.9641 52.383 81.275 36.4185C81.19 35.9414 80.775 35.5943 80.2906 35.5943C76.8566 35.8177 75.1156 35.0352 74.8692 36.4185L72.6436 48.875C72.5339 49.4871 73.0059 50.0508 73.628 50.0508H77.0724V69.7554C67.3093 69.9852 68.5785 68.5039 71.6192 75.8535ZM76.691 37.5943H79.4532L81.3219 48.0508H74.8224L76.691 37.5943ZM81.1568 108.046C79.5655 109.727 77.0699 110.01 74.9215 107.985C72.6391 105.569 74.0492 104.961 73.6192 76.6397H82.5162C82.0802 105.314 83.5162 105.524 81.1568 108.046ZM84.1637 71.7554L82.8687 74.6397H73.2667L71.9718 71.7554C74.6596 71.7554 77.0452 71.7554 84.1637 71.7554Z" fill="black"/>
        </svg>
        <p class="text-slate-700">Diseño personalizado</p>
      </div>
    </div>
  </div>
</Layout>

