---

import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import HeadOnlyLogo from '../components/HeadOnlyLogo.astro'
import PersonalizedDesign from '../assets/svg/personalized_design.svg'
import SVSBenefits from '../components/Benefits/svgs_benefits.astro'
import ImgBenefits from '../assets/svg/benefits.svg'
import Footer from '../components/Footer.astro'

---

<Layout title="Digitalcerti">
  <HeadOnlyLogo />
  <div class='h-[20rem] bg-gradient-to-r from-primary-500 to-primary-800 pt-10'>
    <div class="m-auto lg:max-w-[75rem] flex justify-around flex-row items-center  h-full pb-3 px-4 gap-20">
      <h1 class="w-[400px] text-center text-2xl lg:text-3xl font-semibold text-slate-50">Tu mejor opción, fácil uso, seguridad y transparencia.</h1>
      <Image class=' hidden md:block w-[350px]' src={ImgBenefits} alt="beneficios" loading="lazy"   /> 
    </div>
  </div>
  <div class="my-20">
    <h2 class=" text-2xl font-semibold text-center mt-4 text-slate-800">Beneficios</h2>
    <div class="px-4 lg:max-w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]">
      <SVSBenefits/>
    </div>
  </div>
  <Footer></Footer>
</Layout>

