---
import Layout from '../layouts/Layout.astro';
import HeadOnlyLogo from '../components/HeadOnlyLogo.astro'
import Footer from '../components/Footer.astro';
import Contact from '../components/contact.astro'

---

<Layout title="Contacto" descriptions='Contaco con digitalcerti'>
  <HeadOnlyLogo />
  <section class="max-w-[1280px] m-auto px-6 my-10">
    <Contact />
  </section>
  <Footer />
</Layout>

