---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Logo from '../assets/logo.png'
import LogoWhite from '../assets/logo-white.png'
import ImgGirlNav from '../assets/img_girl_nav.png'


import { Image } from 'astro:assets';
---

<Layout title="Digitalcerti">
	<main class='h-[40rem] bg-gradient-to-r from-primary-500 to-primary-800 pt-10'>
		<section class="w-[75rem] m-auto flex  flex-col justify-between h-full pb-3">
			<div class="flex justify-between">
				<Image src={LogoWhite} alt="logo" loading="lazy" />
				<div class="relative lg:flex items-center">
					<nav class='' >
						<ul class='flex space-x-8 text-white font-normal text-lg' >
							<li><a href="">Inicio</a></li> 
							<li><a href="">Sistema</a></li>
							<li><a href="">Clientes</a></li>
							<li><a href="">Precios</a></li>
							<li><a href="">Contactos</a></li>
						</ul>
					</nav>
				</div>
				<a class='w-[8.25rem] h-[2.5rem] bg-primary-500 rounded-full text-white font-medium flex justify-center items-center cursor-pointer'>
					Ingresar
				</a>
			</div>
			<div class="flex justify-around ">
				<div class="mt-14">
					<h1 class="text-4xl font-extrabold text-white mb-6 w-[30rem]">La solución perfecta para administrar tus certificados</h1>
					<h3 class="text-xl text-white w-[30rem]">Simplifica y mejora el proceso de gestión de tus certificados con nuestra plataforma innovadora.</h3>
				</div>
				<Image src={ImgGirlNav} alt="logo" loading="lazy" />
			</div>
		</section>
		<section class="w-[75rem] m-auto flex  flex-col  h-full  pt-[73px]">
			<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Administración eficiente</h2>
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Gana tiempo y eficiencia con nuestra plataforma</h3>
			<div class="grid grid-cols-3 gap-4 mt-14" >
				<Card href="adasd" title="asdasd" body="asdasd"/>
				<Card href="adasd" title="asdasd" body="asdasd"/>
				<Card href="adasd" title="asdasd" body="asdasd"/>
				<Card href="adasd" title="asdasd" body="asdasd"/>
				<Card href="adasd" title="asdasd" body="asdasd"/>

			</div>
		</section>
	</main>
</Layout>

<style>


</style>
