---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Steps from '../components/Steps.astro';
import Logo from '../assets/logo.png'
import Clock from '../assets/clock.png'

import LogoWhite from '../assets/logo-white.png'
import ImgGirlNav from '../assets/img_girl_nav.png'


import { Image } from 'astro:assets';
---

<Layout title="Digitalcerti">
	<main class='h-[40rem] bg-gradient-to-r from-primary-500 to-primary-800 pt-10'>
		<section class="w-[75rem] m-auto flex  flex-col justify-between h-full pb-3">
			<div class="flex justify-between">
				<Image src={LogoWhite} alt="logo" loading="lazy" />
				<div class="relative lg:flex items-center">
					<nav class='' >
						<ul class='flex space-x-8 text-white font-normal text-lg' >
							<li><a href="">Inicio</a></li> 
							<li><a href="">Sistema</a></li>
							<li><a href="">Clientes</a></li>
							<li><a href="">Precios</a></li>
							<li><a href="">Contactos</a></li>
						</ul>
					</nav>
				</div>
				<a class='w-[8.25rem] h-[2.5rem] bg-primary-500 rounded-full text-white font-medium flex justify-center items-center cursor-pointer'>
					Ingresar
				</a>
			</div>
			<div class="flex justify-around ">
				<div class="mt-14">
					<h1 class="text-4xl font-extrabold text-white mb-6 w-[30rem]">La solución perfecta para administrar tus certificados</h1>
					<h3 class="text-xl text-white w-[30rem]">Simplifica y mejora el proceso de gestión de tus certificados con nuestra plataforma innovadora.</h3>
				</div>
				<Image src={ImgGirlNav} alt="logo" loading="lazy" />
			</div>
		</section>
		<section class="w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]">
			<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Administración eficiente</h2>
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Gana tiempo y eficiencia con nuestra plataforma</h3>
			<div class="grid grid-cols-3 gap-4 mt-14" >
				<Card icon="fa-solid fa-laptop" title="Automatización eficiente" description="Simplifica la gestión de tus certificados con nuestro sistema automatizado y mejora la eficiencia de tus procesos"/>
				<Card icon="fa-solid fa-mobile-screen" title="Acceso móvil" description="Accede a tus certificados desde cualquier lugar y en cualquier momento gracias a nuestra aplicación móvil intuitiva"/>
				<Card icon="fa-solid fa-chart-simple" title="Informes y estadísticas" description="Nuestros clientes pueden acceder a informes detallados y estadísticas en tiempo real para realizar un seguimiento de sus certificados y su rendimiento"/>
				<Card icon="fa-solid fa-file" title="Gestión personalizada" description="Administra tus certificados de forma personalizada y adapta nuestro sistema a tus necesidades específicas"/>
				<Card icon="fa-solid fa-paperclip" title="Integración fácil" description="Integra nuestro sistema de gestión de certificados fácilmente con tus sistemas existentes y aumenta la productividad de tu empresa"/>
				<Card icon="fa-solid fa-headset" title="Asistencia en línea" description="Ofrecemos asistencia en línea para ayudar a Nuestros clientes a resolver cualquier problema o pregunta que puedan tener con el sistema"/>
			</div>
		</section>
		<section class=" bg-gray-100">
			<div class="w-[75rem] m-auto flex py-[4rem] gap-16">
				<div class="flex-1">
					<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Proceso fácil</h2>
					<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Entonces... ¿Cómo funciona?</h3>
					<div class="mt-10 flex flex-col gap-14 justify-center items-center"> 
						<Steps icon="fa-solid fa-file-arrow-up" title='Sube tus certificados' description='Sube tus certificados de forma sencilla desde cualquier lugar y dispositivo.'/>
						<Steps icon="fa-regular fa-square-check" title='Verifica tus certificados' description='Nuestro sistema verifica tus certificados automáticamente para asegurar la autenticidad y validez'/>
						<Steps icon="fa-solid fa-file-contract" title='Accede a tus certificados' description='Accede a tus certificados desde cualquier lugar y dispositivo con nuestro sistema fácil y seguro.'/>
						<Steps icon="fa-solid fa-check" title='Vamos!' description=''/>
					</div>
				</div>
				<div class="flex-1">
					<Image src={Clock} alt="logo" loading="lazy" />
				</div>
			</div>
		</section>
		<section class="w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]">
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mb-3">Explora nuestro sistema de gestión de certificados en acción</h3>
			<h4 class="text-sm  text-slate-800 text-center my-0	m-auto">EXPLORA Y DESCUBRE CÓMO SIMPLIFICAR LA ADMINISTRACIÓN DE TUS CERTIFICADO</h4>
			<div class="" >
				video
			</div>
		</section>
		<section class=" bg-gray-100">
			<div class="w-[75rem] m-auto py-[4rem] gap-16">
				<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Nuestros cliente</h2>
				<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Que dicen de nosotros críticas honestas</h3>
				<div class="mt-10 flex flex-col gap-14 justify-center items-center"> 
				</div>
			</div>
		</section>
		<section class="w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]">
			<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Nuestros planes</h2>
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Mejor paquete de precios, comience ahora!</h3>
			<div class="grid grid-cols-3 gap-4 mt-14" >
			</div>
		</section>
		<section class=" bg-gray-100">
			<div class="w-[75rem] m-auto py-[4rem] gap-16">
				<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Contactenos</h2>
				<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto mt-2">Necesitas simplificar la gestión de certificados? Estamos aquí para ayudarte!</h3>
				<div class="mt-10 flex flex-col gap-14 justify-center items-center"> 
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>


</style>
