---
import Layout from '../layouts/Layout.astro';
import HeadOnlyLogo from '../components/HeadOnlyLogo.astro'
import Footer from '../components/Footer.astro';

---

<Layout title="Renuncia de responsabilidades" descriptions='Exclusión de Garantías y Responsabilidad en DigitalCerti'>
  <HeadOnlyLogo />
  <div class='h-[10rem] bg-gradient-to-r from-primary-500 to-primary-800 pt-10'>
    <h1 class="text-center text-2xl lg:text-3xl font-semibold text-slate-50 m-auto">Renuncia de responsabilidades</h1>
  </div>

  <section class="max-w-[1280px] m-auto px-6 my-20">
    <h3 class=" text-lg font-semibold text-slate-800 mb-3">Exclusión de Garantías y Responsabilidad</h3>
    <p class="mb-8 text-slate-700">Digitalcerti se exonera de toda responsabilidad derivada de:</p>
    <div class="ml-6 mb-8">
      <ul class="list-decimal list-inside text-slate-700">
        <li class="mb-4">El funcionamiento y disponibilidad de la plataforma de certificados, incluyendo causas de fuerza mayor, cualquier otra causa ajena a la voluntad de Digitalcerti, y causas que provoquen la no disponibilidad total o parcial del servicio.</li>
        <li class="mb-4">La falta de utilidad, adecuación o validez de la plataforma y/o de sus servicios para satisfacer necesidades específicas de los clientes.</li>
        <li class="mb-4">La recepción, obtención, almacenamiento, difusión o transmisión de los contenidos por parte de los clientes.</li>
        <li class="mb-4">El uso no autorizado de las credenciales de acceso.</li>
        <li class="mb-4">El uso de datos incorrectos o falsos por parte de los clientes, incluyendo errores en el registro o falta de actualización de datos.</li>
        <li class="mb-4">El uso ilícito, negligente o fraudulento de la plataforma, sus servicios o contenidos por parte de los clientes.</li>
        <li class="mb-4">Los daños y perjuicios causados al cliente por errores técnicos o humanos en las comunicaciones realizadas a través de la plataforma, no imputables a Digitalcerti.</li>
        <li class="mb-4">Los daños directos o indirectos, incluyendo pérdida de ganancias, interrupción del negocio, pérdida de información, virus informáticos o fallos de sistema.</li>
        <li class="mb-4">Los cambios normativos en la regulación de Digitalcerti o en los servicios ofrecidos.</li>
        <li class="mb-4">La ausencia de garantías sobre la comercialización, calidad e idoneidad de la plataforma, así como sobre cualquier impedimento al derecho de disfrute sobre el software.</li>
        <li class="mb-4">Digitalcerti no será responsable de la existencia de virus, programas maliciosos o lesivos en los contenidos, ni de los sucesos imprevisibles o inevitables.</li>
        <li class="mb-4">Ninguna información verbal o escrita realizada por Digitalcerti o un representante autorizado creará obligación o garantía.</li>
        <li class="mb-4">En ningún caso, Digitalcerti será responsable de daños consecuenciales, incidentales, indirectos o especiales, incluso si Digitalcerti o sus representantes han sido advertidos de la posibilidad de tales daños.</li>
        <li class="mb-4">Digitalcerti se libera de cualquier responsabilidad, pérdida, obligación o demanda que surja del uso de la plataforma, y los clientes aceptan liberar a Digitalcerti de cualquier reclamación que pudiera surgir.</li>
        <li class="mb-4">Los clientes deben velar por su seguridad al utilizar la plataforma, utilizando sistemas operativos y plataformas móviles actualizadas y seguras, y evitando compartir sus credenciales de acceso. Los clientes que incumplan los términos y condiciones serán responsables por los daños ocasionados.</li>
        <li class="mb-4">Digitalcerti no garantiza la ausencia de errores en la información ofrecida en la plataforma, por lo que se recomienda a los clientes estar atentos a las actualizaciones periódicas.</li>
        <li class="mb-4">Aunque Digitalcerti cuenta con un servidor seguro y mantenimiento continuo, no se garantiza un uso ininterrumpido del servicio.</li>
        <li class="mb-4">Renuncia de Responsabilidad actualizada al 8 de febrero del 2023</li>
      </ul>    
    </div>
  </section>
  <Footer />

</Layout>

