---
import Layout from '../layouts/Layout.astro';
import HeadOnlyLogo from '../components/HeadOnlyLogo.astro'


---

<Layout title="Digitalcerti">
  <HeadOnlyLogo />
  <h1 class=" text-xl font-semibold text-center">Terminos y condiciones</h1>
</Layout>

