---
interface Props {
	title: string;
	icon: string;
	description: string;
}

const { icon, title, description } = Astro.props;
---

<div class="rounded-3xl	border border-slate-200  shadow-sm p-8 hover:border-primary-500" >
	<i class=`${icon} fa-xl text-primary-500 mb-7`></i>	
	<h4 class="text-slate-900 text-lg font-medium mb-4">
		{title}
	</h4>
	<p class="text-slate-800 text-sm">
		{description}
	</p>
</div>
