---
import { Image } from 'astro:assets';
import LogoWhite from '../assets/logo-white.png'

---

<div class=" p-6 bg-gradient-to-r from-primary-500 to-primary-800 flex justify-between items-center relative pb-4 ">
  <a href="./">
    <Image src={LogoWhite} alt="logo" loading="lazy" />
  </a>
  <a href="https://go.digitalcerti.com/admin/" target="_blank" class='w-[8.25rem] h-[2.5rem] hidden bg-primary-500 rounded-full text-white font-medium lg:flex justify-center items-center cursor-pointer hover:bg-primary-600 active:bg-primary-600'>
    Ingresar
  </a>
</div>

