---
import { Image } from 'astro:assets';
import LogoWhite from '../assets/logo-white.png'

---

<div class=" p-6 bg-gradient-to-r from-primary-500 to-primary-800 ">
  <a href="./">
    <Image src={LogoWhite} alt="logo" loading="lazy" />
  </a>
</div>

