---
interface Props {
	title: string;
	descriptions?:string;
}

const { title, descriptions } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descriptions} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/73da2e88a8.js" crossorigin="anonymous" async></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		font-family: 'Inter', sans-serif;
		background: theme('colors.slate[50]');

	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		background: theme('colors.slate[50]');
	}

</style>
